@page "/account/stock/index"
@using Cella.Hybrid.Services
@using Cella.Infrastructure;
@using Cella.Models
@using Microsoft.EntityFrameworkCore.Internal
@inject StockItemService StockItemService

<h1>Stock Listing</h1>
 
@if (stockItems == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var item in stockItems)
        {
            <li>@item.Name</li>
        }
    </ul>
}
@code {
    private List<StockItem> stockItems;

    protected override async Task OnInitializedAsync()
    {
        stockItems = await StockItemService.GetStockItemsAsync();

    }
}