@using Cella.Blazor.Components.Account.Shared
<!--AdditionalAssemblies="new[] { typeof(Cella.Components.Pages.stock.Index).Assembly }"-->
<Router AppAssembly="typeof(Program).Assembly"
>
    
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <h3>Page not found</h3>
    </NotFound>
</Router>
